<h1> Calculadora</h1>
<form method="post" action="/resultado">
    <input type="text" name="ElA" placeholder="Elemento 1">
    <label for="operacion">Seleccione Operacion:</label>
    <select id="operacion" name="Op">
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multiplicacion">Multiplicacion</option>
        <option value="division">Division</option>
    </select>
    <input type="text" name="ElB"  placeholder="Elemento 1">
    <input type="submit" value="Calcular">
</form>