<h1> Calculadora</h1>
<form method="post" action="/resultado">
    <input type="text" name="Elemento_1" placeholder="Elemento 1">
    <label for="operacion">Seleccione Operación:</label>
    <select id="operacion" name="Operation">
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multiplicacion">Multiplicacion</option>
        <option value="division">Division</option>
    </select>
    <input type="text" name="Elemento_2"  placeholder="Elemento 2">
    <input type="submit" value="Calcular">
</form>